<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212393181149-pmqplooi9cbakdihsjib7sjjt4qbd9k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212393181149-pmqplooi9cbakdihsjib7sjjt4qbd9k4</string>
	<key>API_KEY</key>
	<string>AIzaSyCyF5WCSbdjlxWyrSMcuNtBf5P18Vb8GCo</string>
	<key>GCM_SENDER_ID</key>
	<string>212393181149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>oua122-bootcamp</string>
	<key>STORAGE_BUCKET</key>
	<string>oua122-bootcamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212393181149:ios:eb69e8c48cfd6e7576c034</string>
</dict>
</plist>